* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

.wrapper {
    min-height: 100%;
    background-image: url(../img/rabstol_net_new_year_139.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.celabration__img-wrap {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    animation-name: scrolling;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-duration: alternate;
    animation-timing-function: linear;
}
@keyframes scrolling {
    0% {
        transform:  rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.celabration__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.celabration__content {
    display: inline-block;
    color: white;
    border: 2px solid white;
    background-color: rgba(5, 5, 79, 0.832);
    border-radius: 20px;
    padding: 10px;
}

.bth-block {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.bth {
    text-decoration: none;
    color: white;
    background-color: rgba(235, 68, 68, 0.89);
    padding: 10px 20px;
    border-radius: 10px;
}